.NavMenu {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-end;
  opacity: 0;
  transform: translateX(100%);
  height: 100%;
  background-color: white;
  position: sticky;

  button {
    width: 100%;
    font-size: 1.6em;
    font-family: "Basteleur-Moonlight", sans-serif;
    background-color: white;
    border: 0;
    border-bottom: 1px solid black;
    padding: 10% 10px;
  }
}

.menu-active {
  animation-name: sliderIn;
  animation-duration: 0.4s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes sliderIn {
  from {
    opacity: 0;
    transform: translateX(1000%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
