.NavMenu {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-end;
  opacity: 0;
  transform: translateX(100%);
  height: 100%;
  background-color: white;
  position: sticky;

  button,
  a {
    width: 100%;
    font-size: 1.5em;
    font-family: "Basteleur-Moonlight", sans-serif;
    background-color: white;
    border: 0;
    // border-bottom: 1px solid black;
    padding: 10% 10px;
    cursor: pointer;

    &:hover {
      background-color: #f9d082a1;
      // color: white;
    }
  }

  a {
    padding: 0;
  }

  .NavButton {
    &:hover {
      transform: skewX(0deg);
    }
  }
}

.menu-active {
  animation-name: sliderIn;
  animation-duration: 0.4s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes sliderIn {
  from {
    opacity: 0;
    transform: translateX(1000%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
